game
.vscode/
notes
glslang/
.DS_Store
logs/
art/
.idea/
__pycache__/
venv/
tests/tests
new_assets/
2.93/
blender/__pycache__/
blender/app/
/modules/*.o
/modules/*.d
*.d 
*.o
/scripts/*.d 
/scripts/*.o
/scripts/*.so
blender/src
blender/done
test
blender/gis_caches
blender/addons
blender/models
blender/terrains