[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=/home/patrick/Documents/projects/game_opengl/game
Name=Vikings
Icon=/home/patrick/Documents/projects/game_opengl/models/4_logo___spritesheet.png

